header{
	background: #0071FF;
}
header.mui-bar-nav{
	background: #0071FF;
	box-shadow: 0 1px 2px 0 rgba(0,93,255,0.60);
}
.mui-bar .mui-title{
	color: #FFFFFF;
}
nav span.mui-icon>img{
	width: 24px;height: 24px;
}
nav span.mui-tab-label{
	color: #787878;
}
.mui-bar-tab .mui-tab-item.mui-active>.mui-tab-label{
	color: #0071FF;
}
.mui-tab-item{
	width: 100%;
	text-align: center;
}
.mui-tab-item>.mui-icon{
	width: 24px;height: 24px;
	display:inline-block;
}
.mui-tab-item:nth-child(1)>.mui-icon{
	background-image:url(../res/index/news_none.png);
	background-size:24px 24px;
	background-repeat: no-repeat;
}
.mui-tab-item:nth-child(1).mui-active>.mui-icon{
	background-image:url(../res/index/news_sel.png);
	background-size:24px 24px;
	background-repeat: no-repeat;
}
.mui-tab-item:nth-child(2)>.mui-icon{
	background-image:url(../res/index/appr_none.png);
	background-size:24px 24px;
	background-repeat: no-repeat;
}
.mui-tab-item:nth-child(2).mui-active>.mui-icon{
	background-image:url(../res/index/appr_sel.png);
	background-size:24px 24px;
	background-repeat: no-repeat;
}
.mui-tab-item:nth-child(3)>.mui-icon{
	background-image:url(../res/index/index_none.png);
	background-size:24px 24px;
	background-repeat: no-repeat;
}
.mui-tab-item:nth-child(3).mui-active>.mui-icon{
	background-image:url(../res/index/index_sel.png);
	background-size:24px 24px;
	background-repeat: no-repeat;
}
.mui-tab-item:nth-child(4)>.mui-icon{
	background-image:url(../res/index/sign_none.png);
	background-size:24px 24px;
	background-repeat: no-repeat;
}
.mui-tab-item:nth-child(4).mui-active>.mui-icon{
	background-image:url(../res/index/sign_sel.png);
	background-size:24px 24px;
	background-repeat: no-repeat;
}
.mui-tab-item:nth-child(5)>.mui-icon{
	background-image:url(../res/index/per_none.png);
	background-size:24px 24px;
	background-repeat: no-repeat;
}
.mui-tab-item:nth-child(5).mui-active>.mui-icon{
	background-image:url(../res/index/per_sel.png);
	background-size:24px 24px;
	background-repeat: no-repeat;
}