.mui-content{
	padding: 1rem 0.75rem 0;
}
ul{
	width: 100%;height: auto;
	padding-top: 1rem;
}
ul>li{
	width: 100%;height: 0.8rem;
	background: #FFFFFF;
	border-radius: 0.02rem;
	margin-bottom: 0.5rem;
	border: 0.02rem solid #FF9000;
}
ul>li>input[type=password]{
	width: 100%;
	height: 100%;
	padding-left: 0.3rem;padding-right: 0.2rem;
	appearance: none;
	background: url(../res/login/pass-show.png) right center no-repeat;
	background-size: 0.28rem 0.28rem;
	border: none;
	color: #918B8A;
}
ul>li>input:-ms-input-placeholder{
	font-size: 0.28rem;
	color: #918B8A;
}
ul>li>input::-webkit-input-placeholder{
	font-size: 0.28rem;
	color: #918B8A;
}
ul>li>input::-moz-placeholder{
	font-size: 0.28rem;
	color: #918B8A;
}
ul>li:last-child{
	border: none;
	background: transparent;
}
ul>li>button{
	width: 100%;height: 100%;
	background: #FFAA00;
	box-shadow: 0 0.02rem 0.04rem 0 #CA8600;
	border-radius: 8px;
	font-size: 0.32rem;
	color: #FFFFFF;
}

.fixed{
	width: 100%;height: 100%;
	background: rgba(0,0,0,0.2);
	position: fixed;
	top: 0;left: 0;
	z-index: 999;
}
.fixed>.can{
	width: 5.4rem;height: 2.2rem;
	margin: 41.8% auto;
	background: rgba(252,252,252,0.80);
	border-radius: 0.24rem;
	overflow: hidden;
	overflow: hidden;
}
.fixed>.can>#top{
	width: 100%;height: 1.32rem;
	line-height: 1.32rem;
	font-size: 0.34rem;
	color: #030303;
	text-align: center;
	border-bottom: 0.01rem solid #4d4d4d;
	float: left;
}
.fixed>.can>#left{
	width: 50%;height: 0.86rem;
	line-height: 0.86rem;
	font-size: 0.34rem;
	text-align: center;
	color: #0076FF;
	float: left;
	border-right: 0.01rem solid #4d4d4d;
}
.fixed>.can>#right{
	width: 50%;height: 0.86rem;
	line-height: 0.86rem;
	font-size: 0.34rem;
	text-align: center;
	color: #0076FF;
	float: right;
}
